* {
  box-sizing: border-box;
}

html { 
  font-size: 62.5%;
  height: 100%;
}

html,
body {
  margin: 0;
}

body {
  color: #101010;
  font-family: 'Roboto', serif;
  font-size: 1.6rem;
  font-weight: 400;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Condensed', sans-serif;
  font-style: italic;
  text-transform: uppercase;
  font-weight: 700;
}

h1 {
  font-size: 3rem;
  margin: 0;
}

.opinion_label {
  font-family: 'Roboto Condensed', sans-serif;
  font-style: italic;
  font-weight: 700;
  margin: 1.5rem 0;
  text-transform: uppercase;
}

.opinion_buttons {
  margin-bottom: 1rem;
}

.opinion_buttons a {
  border-radius: 1rem;
  color: #fff;
  display: inline-block;
  padding: 1rem 2rem;
  text-decoration: none;
  margin: 0.1rem;
}

.opinion_buttons a.privacy {
  background: linear-gradient(90deg, rgb(13, 143, 160), rgb(25, 60, 156));
}

.opinion_buttons a.middle {
  background: linear-gradient(90deg, rgb(175, 49, 206), rgb(189, 21, 91));
}

.opinion_buttons a.services {
  background: linear-gradient(90deg, rgb(104, 49, 206), rgb(46, 21, 189));
}

.opinion_buttons a:hover {
  background: rgb(10, 198, 204);
}
