.background .content img.asset__item {
  height: auto;
  width: 10vh;
  min-width: 4rem;
}

section#landing {
  background: url('/images/sections/landing.jpg') no-repeat center;
}

section#landing .foreground {
  background: url('/images/sections/landing.png') no-repeat center;
}

section#landing .content h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-style: italic;
  text-transform: uppercase;
}

section#visit {
  background: url('/images/sections/visit.jpg') no-repeat center;
}

section#visit .foreground {
  background: url('/images/sections/visit.png') no-repeat center;
}

section#retargeting {
  background: url('/images/sections/retargeting.jpg') no-repeat center;
}

section#retargeting .foreground {
  background: url('/images/sections/retargeting.png') no-repeat center;
}

section#cookies {
  background: url('/images/sections/cookies.jpg') no-repeat center;
}

section#cookies .foreground {
  background: url('/images/sections/cookies.png') no-repeat center;
}

section#everywhere {
  background: url('/images/sections/everywhere_bg.png') no-repeat center;
}

section#everywhere .foreground {
  background: url('/images/sections/everywhere.png') no-repeat center;
}

section#conclusion {
  background: url('/images/sections/conclusion.jpg') no-repeat center;
}

section#conclusion .foreground {
  background: url('/images/sections/conclusion.png') no-repeat center;
}

@media (min-width: 60rem) {
  section {
    height: 105vh;
  }
}
